/* Focus on mobile styling first, then work up to styling the desktop*/
:root{
    --dim-gray:#343232;
    --powder-blue:#81b0e2;
    --light-blue:rgb(224, 235, 247);
    --platinum:#D8DBE2;
    --russian-violet:#322b60;
    --chocolate-cosmos:#410B13;

}

html{
    font-size:62.5%;
    /*Changes a default 16px font size to 10px*/
}

body{
    background-color:var(--light-blue);
    display:flex;
    flex-direction:column;
    /* text-align:center; */
}

/*Allign all non-card related text to center*/
header h1,
header nav,
section h2,
section p 
{
    text-align:center;
}

header{
    width:100%;
    background-color:var(--dim-gray);
    display:flex;
    flex-direction:column;
    align-items:center;
}

header h1{
    background-color:var(--powder-blue);
    color:var(--dim-gray);
    font-size:4rem;
    width:40rem;
    margin-top:5px;
}

header nav {
    width:100%;
}

header li{
    text-decoration:underline;
    font-size:2rem;
    padding:.7rem;
    /* margin:.7rem; */
    color:var(--powder-blue);
    border:1px solid rgb(118, 116, 116);
}

#banner-picture{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    width:100%;
    height:20rem;
    background-image: url(./blue-paint-wall-background-texture.jpg);
    border-bottom:.5rem solid var(--dim-gray);
    background-position:center;
}

#banner-picture h2{
    background-color:var(--powder-blue);
    color:var(--dim-gray);
    position:absolute;
    font-size:3rem;
    padding:1rem;
}



/*About me section*/ 
#about-me img{
    background-color:black;
    width:175px;
    border:var(--powder-blue) solid .5rem;
    margin:2% 0;
}


#about-me .content-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

section{
    margin:1.5rem 4rem;
}

section h2{
    color:var(--russian-violet);
    font-size:3rem;
    border-bottom:2px solid;
    margin-bottom:1rem;
    padding-bottom:.5rem;
}

section p{
    color:var(--russian-violet);
    font-size:2.2rem;
}

/* Let's make some CARDS broh */
#my-work{
    /* margin-left:5%;
    margin-right:5%; */
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    flex-wrap:wrap;
}

.primary-card,
.secondary-card{
    /* text-align:center; */
    position:relative;
    width:100%;
    margin-bottom:1.5rem;
    /* display:inline-block; */
    /* margin-left:auto;
    margin-right:auto; */
}

#my-work img{
    opacity:.65;
    border:solid var(--powder-blue) .5rem;
    /* background-size:cover; */
    flex-shrink:none;
    transition: 0.3s;
}

#my-work img:hover,
.card figcaption:hover{
    opacity:1;
    cursor:pointer;
    box-shadow: 0px 0px 56px 7px rgba(5, 74, 111, 0.75);
    transform:scale(1.01);

}

.card figcaption:hover{
    transform: scale(1.2);
}

/*Setting two columns*/
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.card figcaption{
    background-color:var(--powder-blue);
    position:absolute;
    padding:1rem;
    /* Keep these as percentages so that they scale correctly with the image*/
    bottom:6%;
    left:.5%;
    transition:.2s;
}


figcaption h3{
    text-align:left;
    font-size:1.6rem;
    font-style:bold;
}

figcaption p{
    font-size:.8rem;
    text-align:left;
}

.secondary-card{
    position:relative;
    width:48%;
}

/* #contact-me ul{
    display:flex;
    justify-content:space-between;
    
} */
#contact-me{
    justify-content:space-between;
}

#contact-me .content-container{
    width:100%;
    display:flex;
    justify-content:space-evenly;
}

#contact-me a{
    font-size:2.5rem;
    color:var(--russian-violet);
    text-decoration:underline;
}

/*Screen for mobile*/
@media screen and (max-width: 425px){
    .row{
        justify-content:center;
    }

    header h1{
        font-size: 3rem;
        text-wrap:nowrap;
        width:100%;
    }

    .content-container{
        flex-direction:column;
        align-items:center;
    }

    #contact-me .content-container{
        display:flex;
        align-items:center;
    }

    #contact-me a {
        margin-bottom:.5rem;
    }

    #about-me img {
        margin: 5% 0;
    }
    
    .secondary-card{
        width:95%;
    }

    section{
        margin:1.4rem 2rem;
    }
}


/*DESKTOP OR HIGHER*/
@media screen and (min-width:1024px){
    header,
    header nav
    ul,
    section,
    #my-work,
    #about-me .content-container
    {
        display:flex;
        flex-direction:row;
    }

    header{
        height:7rem;
        align-items:center;
    }

    header a{
        font-size:2.5rem;
    }

    ul{
        justify-content:right;
    }

    header li{
        margin-left:3%;
        border:0;
        margin-right:1%;
    }

    #banner-picture h2{
        background-color:var(--powder-blue);
        color:var(--dim-gray);
        position:absolute;
        font-size:3rem;
        padding:1rem;
        right:7%;
        bottom:25%;
    }

    #about-me img {
        margin-right: 2%;
    }

    section h2{
        border-bottom:0;
        border-right:1px solid black;
        margin-right:2rem;
        height:100%;
    }

    .title-container{
        width:15%;;
        flex-shrink:0;
        margin-right:3%;
    }

    .primary-card{
        width:100%;
    }

    figcaption h3{
        text-align:left;
        font-size:2.4rem;
        font-style:bold;
    }
    
    figcaption p{
        font-size:1.5rem;
        text-align:left;
    }

    #my-work{
        flex-wrap:nowrap;
    }
}

/*This just handles the contact info in the awkward scaling that happens with the text before the rest of the page's content reacts to further scaling*/
@media screen and (max-width: 650px){
    #contact-me .content-container{
        flex-direction:column;
        align-items:center;
    }

    #contact-me a {
        margin-bottom:1rem;
    }
}