/* Focus on mobile styling first, then work up to styling the desktop*/
:root{
    --dim-gray:#656565;
    --powder-blue:#81b0e2;
    --platinum:#D8DBE2;
    --russian-violet:#322b60;
    --chocolate-cosmos:#410B13;

}

html{
    font-size:62.5%;
    /*Changes a default 16px font size to 10px*/
}

body{
    display:flex;
    flex-direction:column;
    /* text-align:center; */
}

/*Allign all non-card related text to center*/
header h1,
header nav,
section h2,
section p{
    text-align:center;
}

header{
    width:100%;
    background-color:var(--dim-gray);
    display:flex;
    flex-direction:column;
    align-items:center;
}

header h1{
    background-color:var(--powder-blue);
    color:var(--dim-gray);
    font-size:2.7rem;
    width:35%;
    margin-top:5px;
}

header nav {
    width:100%;
}

header li{
    text-decoration:underline;
    font-size:1.4rem;
    padding:.7rem;
    /* margin:.7rem; */
    color:var(--powder-blue);
    border:1px solid rgb(118, 116, 116);
}

/*About me section*/ 
#about-me img{
    background-color:black;
    width:200px;
    height:200px;
}

section{
    margin:1.5rem 4rem;
}

section h2{
    color:var(--russian-violet);
    font-size:3rem;
    border-bottom:2px solid;
    margin-bottom:1rem;
    padding-bottom:.5rem;
}

section p{
    color:var(--russian-violet);
    font-size:1.5rem;
}

/* Let's make some CARDS broh */
#my-work{
    /* margin-left:5%;
    margin-right:5%; */
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    flex-wrap:wrap;
}

.primary-card,
.secondary-card{
    /* text-align:center; */
    position:relative;
    width:100%;
    margin-top:1.5rem
    /* display:inline-block; */
    /* margin-left:auto;
    margin-right:auto; */
}

#my-work img{
    opacity:.65;
    border:solid var(--powder-blue) .5rem;
    background-size:cover;
}

/*Setting two columns*/
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.card figcaption{
    background-color:var(--powder-blue);
    position:absolute;
    /* Keep these as percentages so that they scale correctly with the image*/
    bottom:3%;
    left:1%;
}

.secondary-card{
    position:relative;
    width:48%;
}

#contact-me a{
    font-size:2.5rem;
    color:var(--powder-blue)
}

/*Screen for mobile*/
@media screen and (max-width: 425px){
    .row{
        justify-content:center;
    }
    
    .secondary-card{
        width:95%;
    }

    section{
        margin:1.4rem 2rem;
    }
}


/*DESKTOP OR HIGHER*/
@media screen and (min-width:1024px){
    header,
    header nav
    ul,
    section,
    #my-work
    {
        display:flex;
        flex-direction:row;
    }

    header{
        height:6rem;
        align-items:center;
    }

    header h1{
        width:20%;
        font-size:4rem;
    }

    header a{
        font-size:2.5rem;
    }

    ul{
        justify-content:right;
    }

    header li{
        margin-left:3%;
        border:0;
        margin-right:1%;
    }

    section h2{
        border-bottom:0;
        border-right:1px solid black;
        margin-right:2rem;
        height:100%;
    }
    .title-container{
        width:15%;;
        flex-shrink:0;
        margin-right:3%;
    }

    .content-container{
        flex-grow:0;
    }

    .primary-card{
        width:100%;
    }

    #my-work{
        flex-wrap:nowrap;
    }
}